<!DOCTYPE html>
<html>
  <head>
    <title>BooksApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <ul>
        <% if user_signed_in? %>
          <li><%= link_to t('.user_info'), edit_user_registration_path %></li>
          <li><%= link_to t('.log_out'), destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to t('.sign_up'), new_user_registration_path %></li>
          <li><%= link_to t('.log_in'), new_user_session_path %></li>
        <% end %>
      </ul>
    </header>


    <%= yield %>
  </body>
</html>
